<article>
    <header class="delete-header">
        <h1>
            <strong>{{game?.name}}</strong>
        </h1>
    </header>

    <div class="scoreboards">
    
        <button (click)="roll()">Roll !</button>

        @for (player of game?.players; track $index) {
            {{player.username}}:
            <div class="board">
            @for (frame of getPlayerGame(player); track $index) {
                <div class="frame">
                    <span class="frame-number">{{frame.frameNumber}}</span>
                    <div class="rolls">
                        @for (roll of frame.rolls; track $index) {
                            <div class="roll">
                                {{roll}}
                            </div>
                        }
                    </div>
                    <span>{{frame.totalScore}}</span>
                </div>
            }
            </div>
        }
    </div>
</article>
