
.scoreboards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.board {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.frame {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    * {
        border: 1px solid var(--pico-primary-background);
        text-align: center;
    }

    .frame-number{
        background-color: var(--pico-color-yellow-50);
        text-align: center;
    }
}

.rolls {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.roll{
    flex-grow: 1;
}

.delete-header{
    display: flex;
    align-items: flex-end;
}

.separator {
    flex-grow: 1;
}
