.scoreboard {
    display: flex;
    flex-direction: row;
}

.frame {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    * {
        border: 1px solid var(--pico-primary-background);
    }

    .frame-number{
        background-color: var(--pico-color-yellow-50);
        text-align: center;
    }
}

.rolls {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.roll{
    flex-grow: 1;
}