:host {
    display: flex;
    align-items: center;
    justify-content: center;

    .signin-container {
        text-align: center;
    }

    .actions {
        display: flex;
        justify-content: space-between;
    }
    .login-info {
        position: absolute;
        left: 1rem;
        top: 1rem;
    }
}